:root {
  --green-color:#557b3e;
  --white-color:#ffffff;
  --dark-cancha-color:#649f41;
  --ligth-cancha-color:#6ea748;
  --drop-shadow-white: drop-shadow(0.5px 0.5px 0.5px #ffffff);
}
.App {
  text-align: center;
  font-family: "LDF Comic Sans MS", "Comic Sans MS", cursive;     /*** Letra ***/
}
@font-face {
  font-family: "LDF Comic Sans MS";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/LDF-ComicSans/LDFComicSans.ttf") format("truetype");
}
.App-link {
  color: var(--white-color);
}

/****************************** HEADER ******************************/
.App-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 8vmin;
  left: 15vmin;
  height: 5vmin;
  width: 30vmin;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--white-color);
  font-size: 1.5vmin;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  user-select: none;                    /* Impide seleccionar la imagen con el mouse*/
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 1;
}
.App-logo {
  height: 3vmin;
}
.marcador {
  position: absolute;
}
.icono {
  filter: var(--drop-shadow-white);
}

/******************************* BODY *******************************/
.App-body {
  /* position: absolute; */
  background-color: var(--green-color);
  height: 100vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;
  color: white;
  user-select: none;                                      /* Impide seleccionar la imagen con el mouse*/
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/********************* Cancha *********************/
.cancha {
  position: absolute;
  display: flex;
  height: 90vmin;
  width: 90%;
  border: 4px solid var(--white-color);
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.fondoCanchaOscuro {
  position: absolute;
  left: 0;
  background-color: var(--dark-cancha-color);
  height: 100%;
  width: 10%;
 }
.fondoCanchaClaro {
  position: absolute;
  right:0;
  background-color: var(--ligth-cancha-color);
  height: 100%;
  width: 10%;
 }
 #fondoCancha1 { left: 0 }
 #fondoCancha2 { left: 10% }
 #fondoCancha3 { left: 20% }
 #fondoCancha4 { left: 30% }
 #fondoCancha5 { left: 40% }
 #fondoCancha6 { left: 50% }
 #fondoCancha7 { left: 60% }
 #fondoCancha8 { left: 70% }
 #fondoCancha9 { left: 80% }
 #fondoCancha10 { left: 90% }

.canchaLineaMitad {                                          /* Linea divisoria de la mitad de cancha */
  position: absolute;
  border-left: 4px solid var(--white-color);
  height: 100%;
  margin-top: 1.5vmin;
  margin-left: 50%;
  margin-right: 50%;
  z-index: 1;
}
.canchaPorteria {
  position: absolute;
  border: 4px solid var(--white-color);
  height: 15vmin;
  width: 5vmin;
}
#canchaPorteria1 { left: -6.25vmin; border-right:none;}
#canchaPorteria2 { right: -6.25vmin; border-left:none; }
.canchaCirculoCentral {                                 /* Circulo central mitad de cancha */
  position: absolute;
  border: 4px solid var(--white-color);
  border-radius: 100vmax;
  height: 30vmin;
  width: 30vmin;
  margin-left: auto;
  margin-right: auto;
}
.canchaAreaGrande {                                     /* Areas grandes de la cancha */
  position: absolute;
  border: 4px solid var(--white-color);
  height: 55vmin;
  width: 24vmin;
}
#canchaAreaGrande1 { left: 0; border-left: none; }
#canchaAreaGrande2 { right: 0; border-right: none; }
.canchaAreaChica {                                      /* Areas chicas de la cancha */
  position: absolute;
  border: 4px solid var(--white-color);
  height: 25vmin;
  width: 9vmin;
}
#canchaAreaChica1 { left: 0; border-left: none; }
#canchaAreaChica2 { right: 0; border-right: none; }
.canchaMediaLuna {                                      /* Medias lunas areas grandes de la cancha */
  position: absolute;
  border: 4px solid var(--white-color);
  border-radius: 100vh;
  height: 25vmin;
  width: 12vmin;
}
#canchaMediaLuna1 { left: 24vmin; border-top-left-radius:0;border-bottom-left-radius:0;border-left-color:transparent; }
#canchaMediaLuna2 { right: 24vmin; border-top-right-radius:0;border-bottom-right-radius:0;border-right-color:transparent; }
.canchaTiroEsquina {                                    /* Cuadros tiro de esquina de la cancha */
  position: absolute;
  border: 4px solid var(--white-color);
  border-radius: 100vh;
  height: 4vmin;
  width: 4vmin;
}
#canchaTiroEsquina1 { top:-0.825vmin; left:-0.825vmin;
                      border-top-color:transparent; border-left-color:transparent; 
                      border-top-left-radius:0; border-top-right-radius:0; border-bottom-left-radius:0;
                    }
#canchaTiroEsquina2 { top:-0.8vmin; right:-0.8vmin; 
                      border-top-color:transparent; border-right-color:transparent; 
                      border-top-left-radius:0; border-top-right-radius:0; border-bottom-right-radius:0;
                    }
#canchaTiroEsquina3 { bottom:-0.8vmin; left:-0.8vmin; 
                      border-bottom-color:transparent; border-left-color:transparent; 
                      border-bottom-left-radius:0; border-bottom-right-radius:0; border-top-left-radius:0;
                    }
#canchaTiroEsquina4 { bottom:-0.8vmin; right:-0.8vmin; 
                      border-bottom-color:transparent; border-right-color:transparent; 
                      border-bottom-right-radius:0; border-bottom-left-radius:0; border-top-right-radius:0;
                    }

.balon {
  position: absolute;
  height: 7vmin;
  pointer-events: none;
  z-index: 1;
}

.jugador {
  position: absolute;
  height: 12vmin;
  pointer-events: none;
  z-index: 1;
}
#jugador1 {

}
#jugadorCPU1 {

}

.porteria {
  position: absolute;
  border: none;
  border-left: 1px solid yellow;
  height: 15vh;
  width: 1px;
}


/********************* Controles *********************/
.controles {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 10vmin;
  z-index: 1;
}
.boton {
  background-color: transparent;
  padding: 2.5vmin 5vmin 2.5vmin 5vmin;
  font-size: 4vmin;
}